.c-container {
  justify-content: space-around;
  gap: 1rem;
}

.c-container > img {
  width: 9rem;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth zoom effect */
}

.c-container > img:hover {
  transform: scale(1.1); /* Zoom in effect on hover */
}